:root {
  --body: #ffffff;
  // --base: #2840BF;
  --base: #711324;

  --darkbase: #1e0702;
  --text: #3f3f3f;
  --darkextra: #5a5a5a;
  --placeholder: #929292;
  --border: #cecece;
  --bordertwo: #ebebeb;
  --textwhite: #ffffff;
  --white: #ffffff;
  --bgsection: #f4f5fc;
  --pragraph-larg: #352c00;
  --socialbg: #eaedf8;
  --buttoncolor: #4154b9;
  --pagination: #dfdfdf;
  --success: #008f20;
  --green: #087982;
  --meron: #862014;
  --borderthree: #dfe2f3;
  --checkborder: #d5daf1;
  --cmnborder: #dfe3f7;
  --input: #d5daf0;
  --inputtwo: #e0e4f8;
  --inputthree: #e9ecf9;
  --dadhes: #cbd1f0;
  --idborder: #ebebeb;
}
